@mixin fontTitle {
    font-family: $titleH1FZ;
    font-weight: $titleH1FW;
    font-size: $titleH1FZ;
    line-height: $titleH1LH;
}

@mixin clearfix {
    &::before,
    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

